#tblItin {
  color: #000;
}

#tblItin tr {
  padding: 0;
}

#tblItin td {
  margin: 0;
}

#tblItin input, #tblItin span.am, #tblItin span.pm, .staff span {
  display: flex;
  flex-direction: column;
  color: #333;
}

span.am, span.pm {
  min-height: 20px;
  padding: 3px;
}

#tblItin a {
  font-weight: bolder;
}

.am {
  background-color: #CFF;
}

.pm {
  background-color: #FFDFFF;
}

td.staff {
  width: 250px;
}

td.staff > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

td.staff div div:last-child {
  flex-wrap: wrap;
  padding-left: 5px;
}

td.staff img {
  width: 72px;
  height: 72px;
}

.itin button {
  min-width: 2em;
  padding-left: 6px;
  padding-right: 6px;
}
